@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This project was designed by Funso Oje for CPT_S 527: Computer Security Class</p>
    <h2>Project Description:</h2>
    <p>A tool to monitor changes in configuration files</p>
    <h2>Features of the Project</h2>
    <ul>
        <li>Add new config files</li>
        <li>Enable/Disable monitoring at any time</li>
        <li>Monitor files at a particular frequency</li>
        <li>Monitor just the file HASH</li>
        <li>Monitor the file attributes</li>
    </ul>
    <p>...</p>
</div>
